<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="amin-menu" name="menu-outline"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-tabs>
  <ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button  tab='category'>
      <ion-icon name=""></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab='notes'>
      <ion-icon name=""></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
