<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepage/homepage/category/category-detail/course-detail"></ion-back-button>
      <ion-card></ion-card>
    </ion-buttons>
    <ion-title>{{chapterDetail.title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{chapterDetail.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{chapterDetail.content}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
