<ion-header>
  <ion-toolbar color="warning">
    <ion-title>stats</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homepage/homepage/category"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>
        <h3>Viewed categories:</h3>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <h3>Viewed courses:</h3>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <h3>Viewed chapters:</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
